
.wp-block-template-part__placeholder-preview-dropdown-content {
	.components-popover__content {
		min-width: 320px;
		padding: 0;
	}
}

.wp-block-template-part__placeholder-preview-search-form {
	border-bottom: $border-width solid $gray-200;
}

.wp-block-template-part__placeholder-preview-container {
	background: $white;
	padding-bottom: 16px;

	.wp-block-template-part__placeholder-preview-item {
		border-radius: $radius-block-ui;
		cursor: pointer;
		margin-top: $grid-unit-20;
		transition: all 0.05s ease-in-out;
		border: $border-width solid transparent;

		&:hover {
			border: $border-width solid var(--wp-admin-theme-color);
		}

		&:focus {
			box-shadow: inset 0 0 0 1px $white, 0 0 0 $border-width-focus var(--wp-admin-theme-color);

			// Windows High Contrast mode will show this outline, but not the box-shadow.
			outline: 2px solid transparent;
		}

		&.is-placeholder {
			min-height: 100px;
		}
	}

	.wp-block-template-part__placeholder-preview-item-title {
		padding: $grid-unit-05;
		font-size: 12px;
		text-align: left;
	}

	.wp-block-template-part__placeholder-panel-group-header {
		padding: $grid-unit-20 $grid-unit-20 0;
	}

	.wp-block-template-part__placeholder-panel-group-content {
		padding: 0 $grid-unit-20;
	}

	.wp-block-template-part__placeholder-panel-group-title {
		color: var(--wp-admin-theme-color);
		text-transform: uppercase;
		font-size: 11px;
		font-weight: 500;
	}
}

.wp-block-template-part__name-panel {
	background-color: $white;
	border-radius: $radius-block-ui;
	box-shadow: 0 0 0 $border-width $gray-900;
	outline: 1px solid transparent;
	padding: ($grid-unit-10 - $border-width - $border-width) $grid-unit-15;

	.components-base-control__field {
		align-items: center;
		display: flex;
		margin-bottom: 0;
	}

	.components-base-control__label {
		margin-bottom: 0;
		margin-right: 8px;
	}
}

.is-navigate-mode .is-selected .wp-block-template-part__name-panel {
	box-shadow: 0 0 0 $border-width var(--wp-admin-theme-color);

	.is-dark-theme & {
		box-shadow: 0 0 0 $border-width var(--wp-admin-theme-color);
	}
}

.block-editor-block-list__block[data-type="core/template-part"].is-selected,
.block-editor-block-list__block[data-type="core/template-part"].has-child-selected {
	box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.1);

	// Border styles below are taken from - https://github.com/WordPress/gutenberg/blob/9525d6ee77953c22805ac5569ac1fef2a2736f7d/packages/block-editor/src/components/block-list/style.scss#L54-L74
	// I have removed what didn't seem necessary to acheive parity between selected/child-selected states.
	&::after {
		top: $border-width;
		bottom: $border-width;
		left: $border-width;
		right: $border-width;

		// 2px outside.
		box-shadow: 0 0 0 $border-width-focus var(--wp-admin-theme-color);
		border-radius: $radius-block-ui - $border-width; // Border is outset, so so subtract the width to achieve correct radius.

		// Show a light color for dark themes.
		.is-dark-theme & {
			box-shadow: 0 0 0 $border-width-focus $dark-theme-focus;
		}
	}
}

.block-editor-block-list__block[data-type="core/template-part"]:hover:not(.is-selected):not(.has-child-selected) {
	cursor: pointer;
	box-shadow: inset 0 0 0 $border-width-focus $gray-700;
}
